<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{~/assets/static/css/bootstrap.css}" href="/assets/static/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>Filed operation</title>
</head>
<body>
    <div class="well alert alert">
       <p> You are trying to access the restricted content! STOP IT!</p>
    </div>
    <div>
        <img th:src="@{~/assets/img/KevinSaysNo.png}" src="">
    </div>
    <div>
        <div th:replace="footer"></div>
    </div>
</body>
</html>