<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<html>
<head>
    <link th:href="@{~/assets/static/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add User</title>
</head>
<body class="text-center">
<div th:replace="navbar"></div>

<div class="form-signin">
    <div class="container-fluid">

        <h1 class="h3 mb-3 font-weight-normal"><strong>Zarejestruj się</strong></h1>
        <br/>
        <div class="text-center">
            <form action="#" th:action="@{/userSubmit}" th:object="${user}" method="post">

                <p><strong>Nazwa użytkownika: </strong><br/><input type="text" th:field="*{username}"/><br/></p>
                <p>Hasło: <br/><input type="password" th:field="*{password}"/></p><br/>
                <p><input type="submit" value="Zarejestruj"/> <input type="reset" value="Reset"/></p>
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </form>
        </div>
    </div>

    <div class="row blockDisplay">
        <div class="column_half left_half"></div>
        <div class="column_half right_half"></div>
    </div>

</div>

<script th:href="@{~/assets/static/js/bootstrap.js}"></script>

</body>
<div>
    <div th:replace="footer"></div>
</div>
</html>
