<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dodaj ogłoszenie</title>

    <!-- Bootstrap core CSS-->
    <link th:href="@{assets/static/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <![endif]-->
</head>
<body>
<div th:replace="navbar"></div>

<br><br>
<div class="container">

    <section>
        <article class="left_article column_half">
            <h3>Lista Ogłoszeń</h3>
            <ul>
                <li th:each="advert : ${allAdverts}">
                    <p th:text="${advert.title}">Twoje ogłoszenia</p>
                    <p th:text="${advert.contents}"></p>
                    <p>Ogłoszenie 2</p>
                </li>
            </ul>

        </article>
        <aside class="right_article">
            <br>
            <div>
                <form action="#" th:action="@{/advertisement}" th:object="${advertisement}" method="post">
                    <p> Tytuł: <input type="text" th:field="*{title}"/></p>
                    <p> Miasto: <input type="text" th:field="*{city}"/></p>
                    <p> Treść ogłoszenia: <input type="text" th:field="*{contents}"/></p>
                    <p> Kategoria: <input type="text" th:field="*{category}"/></p>
                    <p><input type="submit" value="Dodaj ogłoszenie"/> <input type="reset" value="Reset"/></p>
                </form>
            </div>
        </aside>
    </section>
    <div class="row blockDisplay glyphicon-resize-small">
        <div class="column_half left_half"></div>
        <div class="column_half right_half"></div>
    </div>
    <div>
        <div th:replace="footer"></div>
    </div>
</div>
</body>

<script th:href="@{/assets/static/js/bootstrap.js}"></script>

</html>